* {
  margin: 0;
  padding: 0;
}

div.main-body {
    display: grid;
    grid-template-columns: minmax(200px,auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 10px;

    
  }

  .title {
    color: rgb(173, 107, 6);
  }
  
  nav#navbar {
    grid-area: navbar;
    position: fixed;
    background-color: black;
    height: 100vh; 
    padding: 10px;
  }

  ul li {
    list-style-type: none;
    padding-left: 30px;
  }
  
  nav#navbar a {
    display: block;
    border-style: none;
    padding: 10px 6px;
    margin: 20px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: orange;
    font-weight: 500;
    
  }

  p {
    line-height: 2;
    padding-left: 30px;
    padding-right: 30px;
  }

  h4 {
    padding-left: 30px;
  }

  strong {
    padding-left: 30px;
  }
  
  main#main-doc {
    grid-area: mainContent;
    padding-top: 10px;
    height: 100%;
  }
  
  header {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }

  .content-cap {
    background-color: orange;
    margin: 0;
    padding-left: 20px;
  }
  
  code {
    background-color: silver;
    padding: 3px;
  }
  
  @media screen and (max-width: 750px) {
    
    div.main-body {
      grid-template-columns: 1fr;
      grid-template-areas: "navbar" "mainContent";
    }
    
    nav#navbar {
     position: inherit;
     height: 100%;
     padding: 10px;
    }

    nav#navbar a {
      border-style: none;
      padding: 10px;
      margin: 10px;
    }

    .content-cap {
      padding: 10px;
    }

    main#main-doc {
    height: 100%;
    padding: 0;
    margin: 0;
 
    }

  }